Do not use DN from OpenSSL propietary format

We should follow the standard DN format (see RFC-1779,  RFC-4514, RFC-2253) and not the SSL propietary format. We should also migrate the existing users to the new schema.
